* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: fit-content;
}

button, input {
    font-size: 120%;
    width: 200px;
    text-align: center;
}

body {
    box-sizing: border-box;
    background-color: rgb(177, 0, 29);
}
